$mercado-yellow: #FFE600;
$mercado-dark: #333333;
$mercado-dark-gray: #333333;
$mercado-medium-gray: #666666;
$mercado-gray: #999999;
$mercado-light-gray: #EEEEEE;
$mercado-blue: #3483FA;
$mercado-white: #FFFFFF;

$spacing-16: 16px;
$spacing-32: 32px;
$spacing-48: 48px;
$spacing-64: 64px;