@import "../../styles/index";

.results {
    background-color: $mercado-white;
    display: flex;
    flex-direction: column;
}

.results_container {
  width: 80%;
  margin: 0 auto;
}

.results_item {
  border-bottom: thin solid $mercado-light-gray;
  display: flex;
  flex-grow: 1;
  width: 100%;
}



